# Data Analyst au sein de la FAO

lien du brief : https://simplonline.co/briefs/688fc302-e4d4-4324-8904-f22316c31713

lien du dossier git : https://github.com/data-IA-2023/Groupe-3

Vous venez d'intégrer la FAO (Food and Agriculture Organization of the United Nations). BRAVO !!!!!!
Vous allez mener votre première mission en analysant les données mondiales de production agricole, d'alimentation et de nutrition.

**Livrables**

* Un dépôt Github
* Un notebook **fonctionnel, documenté et commenté**
* Une présentation écrite et orale résumant vos travaux, votre analyse et vos recommandations

**Contexte du projet**

* Au sein du service Data Analytics and Prospective de la FAO, vous êtes en charge d'analyser les données produites par les Nations Unies.

* Ces analyses conduisent à des rapports de synthèse à destination des décideurs.

* Pour êtes également en charge de la partie Prospective, c'est à dire donner des tendances et des évolutions probables quant à la production agricole, à l'alimentation et la nutrition mondiales.

**Ressource(s)**

FAO - Wikipedia : https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l'alimentation_et_l'agriculture

FAOSTAT : https://www.fao.org/faostat/fr/#home

Les données FAO 2013 : https://github.com/remijul/dataset/tree/master/fao_2013

## Partie extraction des données

In [1]:
import pandas as pd
import numpy as np

chemein_BD_vegetal = "fao_2013/FAOSTAT_2013_vegetal.csv"

BD_vegetal = pd.read_csv(chemein_BD_vegetal, sep=',',on_bad_lines='skip')

BD_vegetal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104871 entries, 0 to 104870
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Code Domaine            104871 non-null  object
 1   Domaine                 104871 non-null  object
 2   Code Pays               104871 non-null  int64
 3   Pays                    104871 non-null  object
 4   Code Élément            104871 non-null  int64
 5   Élément                 104871 non-null  object
 6   Code Produit            104871 non-null  int64
 7   Produit                 104871 non-null  object
 8   Code Année              104871 non-null  int64
 9   Année                   104871 non-null  int64
 10  Unité                   104871 non-null  object
 11  Valeur                  104871 non-null  float64
 12  Symbole                 104871 non-null  object
 13  Description du Symbole  104871 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 11.2+ MB

In [13]:
chemein_BD_culture = "fao_2020/FAOSTAT_2020_Cultures et produits animaux.csv"

BD_culture = pd.read_csv(chemein_BD_culture, sep=',',on_bad_lines='skip')

BD_culture.info()
BD_culture.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41752 entries, 0 to 41751
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            41752 non-null  object
 1   Domaine                 41752 non-null  object
 2   Code zone (M49)         41752 non-null  int64
 3   Zone                    41752 non-null  object
 4   Code Élément            41752 non-null  int64
 5   Élément                 41752 non-null  object
 6   Code Produit (CPC)      41752 non-null  object
 7   Produit                 41752 non-null  object
 8   Code année              41752 non-null  int64
 9   Année                   41752 non-null  int64
 10  Unité                   41752 non-null  object
 11  Valeur                  40679 non-null  float64
 12  Symbole                 41752 non-null  object
 13  Description du Symbole  41752 non-null  object
dtypes: float64(1), int64(4), object(9)
memory usage: 4.5+ MB

       Code zone (M49)  Code Élément  Code année    Année        Valeur
count     41752.000000  41752.000000     41752.0  41752.0  4.067900e+04
mean        427.034753   5403.256084      2020.0   2020.0  9.725984e+05
std         254.441180    100.909329         0.0      0.0  1.283739e+07
min           4.000000   5111.000000      2020.0   2020.0  0.000000e+00
25%         203.000000   5312.000000      2020.0   2020.0  1.314500e+03
50%         414.000000   5419.000000      2020.0   2020.0  1.625000e+04
75%         643.000000   5510.000000      2020.0   2020.0  1.149180e+05
max         894.000000   5513.000000      2020.0   2020.0  7.571169e+08

In [12]:
BD_culture[BD_culture['Valeur'].isnull()]
#BD_culture.info()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
377,QCL,Cultures et produits animaux,710,Afrique du Sud,5312,Superficie récoltée,01254,Poireaux et autres légumes alliacés,2020,2020,ha,NaN,M,Valeur manquante (les données ne peuvent exist...
378,QCL,Cultures et produits animaux,710,Afrique du Sud,5510,Production,01254,Poireaux et autres légumes alliacés,2020,2020,tonnes,NaN,M,Valeur manquante (les données ne peuvent exist...
487,QCL,Cultures et produits animaux,8,Albanie,5312,Superficie récoltée,01349.20,Autre fruit à noyau n.a.c.,2020,2020,ha,NaN,M,Valeur manquante (les données ne peuvent exist...
488,QCL,Cultures et produits animaux,8,Albanie,5510,Production,01349.20,Autre fruit à noyau n.a.c.,2020,2020,tonnes,NaN,M,Valeur manquante (les données ne peuvent exist...
513,QCL,Cultures et produits animaux,8,Albanie,5112,Réserves,02154,Canards,2020,2020,1000 têtes,NaN,M,Valeur manquante (les données ne peuvent exist...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41421,QCL,Cultures et produits animaux,894,Zambie,5510,Production,01342.01,Poires,2020,2020,tonnes,NaN,M,Valeur manquante (les données ne peuvent exist...
41422,QCL,Cultures et produits animaux,894,Zambie,5312,Superficie récoltée,01242,Pois frais,2020,2020,ha,NaN,M,Valeur manquante (les données ne peuvent exist...
41423,QCL,Cultures et produits animaux,894,Zambie,5510,Production,01242,Pois frais,2020,2020,tonnes,NaN,M,Valeur manquante (les données ne peuvent exist...
41677,QCL,Cultures et produits animaux,716,Zimbabwe,5312,Superficie récoltée,01706,Pois à vache secs,2020,2020,ha,NaN,M,Valeur manquante (les données ne peuvent exist...
41678,QCL,Cultures et produits animaux,716,Zimbabwe,5510,Production,01706,Pois à vache secs,2020,2020,tonnes,NaN,M,Valeur manquante (les données ne peuvent exist...

## Partie netoyage des données

## Partie traitement des données

### 1 - Analyses descriptives et exploratoire des données

Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données :

    • Analyses univariées
    • Analyses bi-variées
    • Analyses multi-variées

Réaliser également des analyses exploratoires sur les différentes variables

Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données :
    • Analyses univariées
    • Analyses bi-variées
    • Analyses multi-variées
Réaliser également des analyses exploratoires sur les différentes variables

### 2 - Etude guidée n°1

Il s’agit ici de répondre à toutes les questions ci-dessous.

#### Question 1 : Nombre d'humains sur la planète
Calculez le nombre total d’humains sur la planète.
Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.
Donnez le résultat de votre calcul pour l'année 2013.

#### Question 2 : Redondances
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici).
C'est une équation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant intervenir chacune des 11 quantités données ci dessus.
Illustrez cette équation avec l'exemple du blé en France.

#### Question 3 : Disponibilité alimentaire (calories, protéines)
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines. Vous ferez cela à partir de ces informations :
- Population de chaque pays
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour, -
- Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.
Pour cette étape vous avez besoin de constituer une seule et même table à partir des tables animaux et végétaux.

#### Question 4 : Ratio énergie/poids
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

#### Question 5 : Aliments les plus caloriques et protéiques
En considérant les aliments végétaux et animaux, citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids. Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

#### Question 6 : Dispo. intérieure mondiale des végétaux
Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

#### Question 7 : Potentiel alimentaire des végétaux
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 8 : Potentiel alimentaire des végétaux (destinés aux animaux pertes)
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 9 : Potentiel alimentaire de la dispo. Mondiale
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 10 : Proportion de la sous-nutrition mondiale
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

#### Question 11 : Céréales
Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO. En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

#### Question 12 : Sous-nutrition
Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.
Repérez les 15 produits les plus exportés par ce groupe de pays.
Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné).
Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

    • le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
    • le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)
    
Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

#### Question 13 : USA
Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

#### Question 14 : Thaïlande
En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

### 3 - Etude guidée n°2

Il s’agit ici d’intégrer toutes les données dans une base de données relationnelle puis de répondre à toutes les questions ci-dessous.
La base de données contiendra 4 tables : population, dispo_alim, equilibre_prod, sous_nutrition.

#### Question 15 : Table population
Définir une clé primaire pertinente pour la table population. Intégrer la table dans la base de données relationnelle.

#### Question 16 : Table dispo_alim
La table appelée dispo_alim contient pour chaque pays, pour chaque produit, sur l'année 2013, les informations suivantes:
- la nature du produit (deux valeurs possibles“animal” ou “végétal”)
- disponibilité alimentaire en tonnes
- disponibilité alimentaire en Kcal/personne/jour
- disponibilité alimentaire de protéines en g/personne/jour
- disponibilité alimentaire de matières grasses en g/personne/jour
La table contient ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .
Définir une clé primaire pertinente pour la table dispo_alim. Intégrer la table dans la base de données relationnelle.

#### Question 17 : Table equilibre_prod
La table appelée equilibre_prod contient pour chaque pays, pour chaque produit, et pour l'année disponible 2013, les quantités suivantes :
- disponibilité intérieure
- aliments pour animaux
- semences
- pertes
- transformés
- nourriture
- autres utilisations
Elle contient ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, transfo, nourriture, autres_utilisations.
Définir une clé primaire pertinente pour la table equilibre_prod. Intégrer la table dans la base de données relationnelle.

#### Question 18 : Table sous_nutrition
La table appelée sous_nutrition, contient le nombre de personnes en sous-alimentation pour chaque pays et pour chaque année. Elle contient 4 colonnes : pays, code_pays, année, nb_personnes.
Définir une clé primaire pertinente pour la table sous_nutrition. Intégrer la table dans la base de données relationnelle.

#### Question 19 : Requêtes SQL
Formuler les requêtes SQL pour répondre aux questions suivantes :
    • Quels sont les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant ?
    • Quels sont les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant ?
    • Quelle est la quantité totale (en kg) de produits perdus par pays?
    • Quels sont les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte ?
    • Quels sont les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé ?

#### Question 20 : Autres utilisations des produits
Pour quelques-uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !).

### 4 - Analyses complémentaire

Fort de votre expérience de Data Analyst, il s’agit maintenant de réaliser vos propres analyses et exploration.