# Data Analyst au sein de la FAO

lien du brief : https://simplonline.co/briefs/688fc302-e4d4-4324-8904-f22316c31713

lien du dossier git : https://github.com/data-IA-2023/Groupe-3

Vous venez d'intégrer la FAO (Food and Agriculture Organization of the United Nations). BRAVO !!!!!!
Vous allez mener votre première mission en analysant les données mondiales de production agricole, d'alimentation et de nutrition.

**Livrables**

* Un dépôt Github
* Un notebook **fonctionnel, documenté et commenté**
* Une présentation écrite et orale résumant vos travaux, votre analyse et vos recommandations

**Contexte du projet**

* Au sein du service Data Analytics and Prospective de la FAO, vous êtes en charge d'analyser les données produites par les Nations Unies.

* Ces analyses conduisent à des rapports de synthèse à destination des décideurs.

* Pour êtes également en charge de la partie Prospective, c'est à dire donner des tendances et des évolutions probables quant à la production agricole, à l'alimentation et la nutrition mondiales.

**Ressource(s)**

FAO - Wikipedia : https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies_pour_l'alimentation_et_l'agriculture

FAOSTAT : https://www.fao.org/faostat/fr/#home

Les données FAO 2013 : https://github.com/remijul/dataset/tree/master/fao_2013

## Partie extraction des données

In [1]:
import pandas as pd
import numpy as np

chemein_fichier = "https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_animal.csv"

df = pd.read_csv(chemein_fichier, sep=',',on_bad_lines='skip')
df

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

In [2]:
import pandas as pd
import numpy as np

chemein_fichier = "https://raw.githubusercontent.com/data-IA-2023/Groupe-3/4f55cd09493101a19266be06eb08fe1770ece8de/fao_2013/FAOSTAT_2013_animal.csv"

df = pd.read_csv(chemein_fichier, sep=',',on_bad_lines='skip')
df

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée

In [3]:
"""
0 : importation
"""
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
"""
1.7 : creation du fichier "Données de la sécurité alimentaire 2020"
"""

chemein_fichier = "https://raw.githubusercontent.com/data-IA-2023/Groupe-3/main/fao_2020/FAOSTAT_2020_Donn%C3%A9es%20de%20la%20s%C3%A9curit%C3%A9%20alimentaire.csv"

df_securite_alimentaire_2020 = pd.read_csv(chemein_fichier, sep=',', on_bad_lines='skip', encoding='utf-8')
df_securite_alimentaire_2020

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,4,Afghanistan,6121,Valeur,21010,Suffisance des apports énergétiques alimentair...,20192021,2019-2021,%,104,E,Valeur estimée,NaN
1,FS,Données de la sécurité alimentaire,4,Afghanistan,6128,Valeur,22000,Disponibilité alimentaire par habitant utilisé...,20192021,2019-2021,Kcal/personne/jour,2239,E,Valeur estimée,NaN
2,FS,Données de la sécurité alimentaire,4,Afghanistan,6121,Valeur,21012,"Part des céréales, des racines et des tubercul...",20192021,2019-2021,%,NaN,O,Valeur manquante,NaN
3,FS,Données de la sécurité alimentaire,4,Afghanistan,6123,Valeur,21013,Disponibilités protéiques moyennes (g/personne...,20192021,2019-2021,g/personne/jour,NaN,O,Valeur manquante,NaN
4,FS,Données de la sécurité alimentaire,4,Afghanistan,6123,Valeur,21014,Disponibilités protéines moyennes d’origine an...,20192021,2019-2021,g/personne/jour,NaN,O,Valeur manquante,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12633,FS,Données de la sécurité alimentaire,716,Zimbabwe,6128,Valeur,21056,Besoins énergétiques alimentaires minimaux (kc...,2020,2020,Kcal/personne/jour,1752,E,Valeur estimée,NaN
12634,FS,Données de la sécurité alimentaire,716,Zimbabwe,6128,Valeur,21057,Besoins énergétiques alimentaires moyens (kcal...,2020,2020,Kcal/personne/jour,2240,E,Valeur estimée,NaN
12635,FS,Données de la sécurité alimentaire,716,Zimbabwe,6173,Valeur,21058,Coefficient de variation de la distribution de...,2020,2020,Nombre,0.31,E,Valeur estimée,NaN
12636,FS,Données de la sécurité alimentaire,716,Zimbabwe,6121,Valeur,21059,Incidence des pertes caloriques au niveau de l...,2020,2020,%,2.13,E,Valeur estimée,NaN
12637,FS,Données de la sécurité alimentaire,716,Zimbabwe,6123,Valeur,21061,Disponibilités moyennes de matière grasse (g/p...,20192021,2019-2021,g/personne/jour,NaN,O,Valeur manquante,NaN

## Partie netoyage des données

In [5]:
"""
2.7 : info sur le fichier "Données de la sécurité alimentaire 2020"
"""
df_securite_alimentaire_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12638 entries, 0 to 12637
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            12638 non-null  object
 1   Domaine                 12638 non-null  object
 2   Code zone (M49)         12638 non-null  int64
 3   Zone                    12638 non-null  object
 4   Code Élément            12638 non-null  int64
 5   Élément                 12638 non-null  object
 6   Code Produit            12638 non-null  object
 7   Produit                 12638 non-null  object
 8   Code année              12638 non-null  int64
 9   Année                   12638 non-null  object
 10  Unité                   12638 non-null  object
 11  Valeur                  7902 non-null   object
 12  Symbole                 12439 non-null  object
 13  Description du Symbole  12439 non-null  object
 14  Note                    648 non-null    object
dtypes: int64(3), object(12)
memory usage: 1.4+ MB

In [6]:
"""
3.7 : suprime doublon
"""
df_securite_alimentaire_2020.drop_duplicates(ignore_index=True)
df_securite_alimentaire_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12638 entries, 0 to 12637
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            12638 non-null  object
 1   Domaine                 12638 non-null  object
 2   Code zone (M49)         12638 non-null  int64
 3   Zone                    12638 non-null  object
 4   Code Élément            12638 non-null  int64
 5   Élément                 12638 non-null  object
 6   Code Produit            12638 non-null  object
 7   Produit                 12638 non-null  object
 8   Code année              12638 non-null  int64
 9   Année                   12638 non-null  object
 10  Unité                   12638 non-null  object
 11  Valeur                  7902 non-null   object
 12  Symbole                 12439 non-null  object
 13  Description du Symbole  12439 non-null  object
 14  Note                    648 non-null    object
dtypes: int64(3), object(12)
memory usage: 1.4+ MB

In [7]:
"""
4.7 : exploration des données
"""
n = df_securite_alimentaire_2020.nunique(axis=0)
n

Code Domaine                 1
Domaine                      1
Code zone (M49)            204
Zone                       204
Code Élément                12
Élément                      3
Code Produit                44
Produit                     43
Code année                   2
Année                        2
Unité                        8
Valeur                    1820
Symbole                      4
Description du Symbole       4
Note                         2
dtype: int64

In [8]:
"""
on remarque que Code Domaine et Domaine n'ont que 1 valeur, ce n'est pas des colonnes que l'on va garder.
Code année et Année ont 2 valeurs, elles sont peut-être redondande. A voir, si oui, suprimé Code année
Code zone (M49) et Zone ont 204 valeurs, elles sont peut-être redondande. A voir, si oui, suprimé Code zone
Symbole et Description du Symbole ont 4 valeurs, elles sont peut-être redondande. A voir, si oui, 
suprimé Symbole et renommé Description du Symbole en Symbole
"""
df_securite_alimentaire_2020.drop("Code Domaine", inplace=True, axis=1)
df_securite_alimentaire_2020.drop("Domaine", inplace=True, axis=1)
df_securite_alimentaire_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12638 entries, 0 to 12637
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code zone (M49)         12638 non-null  int64
 1   Zone                    12638 non-null  object
 2   Code Élément            12638 non-null  int64
 3   Élément                 12638 non-null  object
 4   Code Produit            12638 non-null  object
 5   Produit                 12638 non-null  object
 6   Code année              12638 non-null  int64
 7   Année                   12638 non-null  object
 8   Unité                   12638 non-null  object
 9   Valeur                  7902 non-null   object
 10  Symbole                 12439 non-null  object
 11  Description du Symbole  12439 non-null  object
 12  Note                    648 non-null    object
dtypes: int64(3), object(10)
memory usage: 1.3+ MB

In [9]:
df_securite_alimentaire_2020['Code année'].value_counts()

Code année
20192021    9588
2020        3050
Name: count, dtype: int64

In [10]:
df_securite_alimentaire_2020['Année'].value_counts()

Année
2019-2021    9588
2020         3050
Name: count, dtype: int64

In [11]:
"""
'Code année' et 'Année' sont bien redondant, on va supprimer 'Année', et renommer 'Code année' en 'Année'
"""
df_securite_alimentaire_2020.drop("Année", inplace=True, axis=1)
df_securite_alimentaire_2020.rename(columns={"Code année": "Année"}, inplace=True)
df_securite_alimentaire_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12638 entries, 0 to 12637
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code zone (M49)         12638 non-null  int64
 1   Zone                    12638 non-null  object
 2   Code Élément            12638 non-null  int64
 3   Élément                 12638 non-null  object
 4   Code Produit            12638 non-null  object
 5   Produit                 12638 non-null  object
 6   Année                   12638 non-null  int64
 7   Unité                   12638 non-null  object
 8   Valeur                  7902 non-null   object
 9   Symbole                 12439 non-null  object
 10  Description du Symbole  12439 non-null  object
 11  Note                    648 non-null    object
dtypes: int64(3), object(9)
memory usage: 1.2+ MB

In [12]:
df_securite_alimentaire_2020['Symbole'].value_counts()

Symbole
E    5629
O    4537
X    1625
A     648
Name: count, dtype: int64

In [13]:
df_securite_alimentaire_2020['Description du Symbole'].value_counts()

Description du Symbole
Valeur estimée                       5629
Valeur manquante                     4537
Ciffre de sources internationales    1625
Chiffre officiel                      648
Name: count, dtype: int64

In [14]:
"""
'Symbole' et 'Description du Symbole' sont bien redondant mais pas completement, on va conserver les 2 colonnes
"""

"\n'Symbole' et 'Description du Symbole' sont bien redondant mais pas completement, on va conserver les 2 colonnes\n"

In [15]:
df_securite_alimentaire_2020['Code zone (M49)'].value_counts()

Code zone (M49)
566    66
270    66
275    66
646    65
496    64
       ..
308    56
583    56
44     56
212    56
158    55
Name: count, Length: 204, dtype: int64

In [16]:
df_securite_alimentaire_2020['Zone'].value_counts()

Zone
Nigéria                          66
Gambie                           66
Palestine                        66
Rwanda                           65
Mongolie                         64
                                 ..
Grenade                          56
Micronésie (États fédérés de)    56
Bahamas                          56
Dominique                        56
Chine, Taiwan Province de        55
Name: count, Length: 204, dtype: int64

In [17]:
"""
'Code zone (M49)' et 'Zone' sont bien redondant, on va supprimer 'Code zone (M49)'
"""
df_securite_alimentaire_2020.drop("Code zone (M49)", inplace=True, axis=1)
df_securite_alimentaire_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12638 entries, 0 to 12637
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Zone                    12638 non-null  object
 1   Code Élément            12638 non-null  int64
 2   Élément                 12638 non-null  object
 3   Code Produit            12638 non-null  object
 4   Produit                 12638 non-null  object
 5   Année                   12638 non-null  int64
 6   Unité                   12638 non-null  object
 7   Valeur                  7902 non-null   object
 8   Symbole                 12439 non-null  object
 9   Description du Symbole  12439 non-null  object
 10  Note                    648 non-null    object
dtypes: int64(2), object(9)
memory usage: 1.1+ MB

## Partie traitement des données

### 1 - Analyses descriptives et exploratoire des données

Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données :

    • Analyses univariées
    • Analyses bi-variées
    • Analyses multi-variées

Réaliser également des analyses exploratoires sur les différentes variables

Il s’agit ici de réaliser des analyses descriptives statistiques et graphiques sur les différentes variables des jeux de données :
    • Analyses univariées
    • Analyses bi-variées
    • Analyses multi-variées
Réaliser également des analyses exploratoires sur les différentes variables

In [18]:
"""
1 : ouverture du fichier "Données de la sécurité alimentaire 2020"
"""

'\n1 : ouverture du fichier "Données de la sécurité alimentaire 2020"\n'

### 2 - Etude guidée n°1

Il s’agit ici de répondre à toutes les questions ci-dessous.

#### Question 1 : Nombre d'humains sur la planète
Calculez le nombre total d’humains sur la planète.
Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires.
Donnez le résultat de votre calcul pour l'année 2013.

#### Question 2 : Redondances
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici).
C'est une équation à 3 termes de type (a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]) ) faisant intervenir chacune des 11 quantités données ci dessus.
Illustrez cette équation avec l'exemple du blé en France.

#### Question 3 : Disponibilité alimentaire (calories, protéines)
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines. Vous ferez cela à partir de ces informations :
- Population de chaque pays
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour, -
- Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.
Pour cette étape vous avez besoin de constituer une seule et même table à partir des tables animaux et végétaux.

#### Question 4 : Ratio énergie/poids
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

#### Question 5 : Aliments les plus caloriques et protéiques
En considérant les aliments végétaux et animaux, citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids. Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

#### Question 6 : Dispo. intérieure mondiale des végétaux
Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

#### Question 7 : Potentiel alimentaire des végétaux
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 8 : Potentiel alimentaire des végétaux (destinés aux animaux pertes)
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 9 : Potentiel alimentaire de la dispo. Mondiale
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#### Question 10 : Proportion de la sous-nutrition mondiale
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

#### Question 11 : Céréales
Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO. En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

#### Question 12 : Sous-nutrition
Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.
Repérez les 15 produits les plus exportés par ce groupe de pays.
Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné).
Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

    • le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
    • le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)
    
Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

#### Question 13 : USA
Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

#### Question 14 : Thaïlande
En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

### 3 - Etude guidée n°2

Il s’agit ici d’intégrer toutes les données dans une base de données relationnelle puis de répondre à toutes les questions ci-dessous.
La base de données contiendra 4 tables : population, dispo_alim, equilibre_prod, sous_nutrition.

#### Question 15 : Table population
Définir une clé primaire pertinente pour la table population. Intégrer la table dans la base de données relationnelle.

#### Question 16 : Table dispo_alim
La table appelée dispo_alim contient pour chaque pays, pour chaque produit, sur l'année 2013, les informations suivantes:
- la nature du produit (deux valeurs possibles“animal” ou “végétal”)
- disponibilité alimentaire en tonnes
- disponibilité alimentaire en Kcal/personne/jour
- disponibilité alimentaire de protéines en g/personne/jour
- disponibilité alimentaire de matières grasses en g/personne/jour
La table contient ces colonnes : pays, code_pays, année, produit, code_produit, origin, dispo_alim_tonnes, dispo_alim_kcal_p_j, dispo_prot, dispo_mat_gr .
Définir une clé primaire pertinente pour la table dispo_alim. Intégrer la table dans la base de données relationnelle.

#### Question 17 : Table equilibre_prod
La table appelée equilibre_prod contient pour chaque pays, pour chaque produit, et pour l'année disponible 2013, les quantités suivantes :
- disponibilité intérieure
- aliments pour animaux
- semences
- pertes
- transformés
- nourriture
- autres utilisations
Elle contient ces colonnes : pays, code_pays, année, produit, code_produit, dispo_int, alim_ani, semences, pertes, transfo, nourriture, autres_utilisations.
Définir une clé primaire pertinente pour la table equilibre_prod. Intégrer la table dans la base de données relationnelle.

#### Question 18 : Table sous_nutrition
La table appelée sous_nutrition, contient le nombre de personnes en sous-alimentation pour chaque pays et pour chaque année. Elle contient 4 colonnes : pays, code_pays, année, nb_personnes.
Définir une clé primaire pertinente pour la table sous_nutrition. Intégrer la table dans la base de données relationnelle.

#### Question 19 : Requêtes SQL
Formuler les requêtes SQL pour répondre aux questions suivantes :
    • Quels sont les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant ?
    • Quels sont les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant ?
    • Quelle est la quantité totale (en kg) de produits perdus par pays?
    • Quels sont les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte ?
    • Quels sont les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé ?

#### Question 20 : Autres utilisations des produits
Pour quelques-uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !).

### 4 - Analyses complémentaire

Fort de votre expérience de Data Analyst, il s’agit maintenant de réaliser vos propres analyses et exploration.